<input data-id="{{id}}" hidden />

<a href="#" class="article_link_tag"><img src={{image}}></img><a/>
<h2><a href="#" class="article_link_tag">{{title}}</a></h2>
<h4>By <a href="#" class="author_link_tag" data-author_id="{{author_id}}">{{author}}</a></h4>
<h4>{{dateTime}}</h4>
<p>{{tagline}}</p>
