<li data-id='{{commentID}}' data-user_id='{{user_id}}'>
  <dl>
    <dt>
      <img src="{{#if icon}}{{icon}}{{else}}/images/icons/guest.png{{/if}}" />
    </dt>
    <dd>
      <h2>{{username}} <strong>on {{time}}</strong></h2>
      <p>{{comment}}</p>
    </dd>
  </dl>
</li>
